<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="torso_macro" params="">
    <link name="torso_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${torso_mass}"/>
        <xacro:box_inertia mass="${torso_mass}" x="${torso_x}" y="${torso_y}" z="${torso_z}"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${torso_x} ${torso_y} ${torso_z}"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${torso_x} ${torso_y} ${torso_z}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
